.content {
    padding: 75px 0;
    background-color: var(--content-color);
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.content .subsection h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.content .subsection .card {
    border: 0.5rem solid var(--main-bg-color);
    background-color: var(--content-color);
    margin-bottom: 0.75rem;
}

.content .subsection .card-item {
    background-color: var(--content-color);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.75rem;
}