@import "navigation.css";
@import "footer.css";

@import "landing/hero.css";
@import "landing/content.css";

:root {
  --main-bg-color: #f3ecb8;
  --main-text-color: #ad79cb;
  --face-card: #c0e3e9;
  --content-color: #f5cab3;

  --primary-font: "Josefin Sans", sans-serif;
  --secondary-font: "Playfair Display", serif;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--primary-font);
  color: var(--main-text-color);
}

h1 {
  font-weight: 900;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  opacity: 0.7;
}

p {
  font-size: 1.15rem;
}

a {
  color: var(--main-text-color);
  font-weight: 600;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
}

a:hover {
  color: var(--main-text-color);
  font-weight: 600;
  opacity: 0.7;
  text-decoration: none;
}

.main-button,
.main-button:visited {
  background-color: var(--main-text-color);
  border-color: var(--main-text-color);
  border-radius: 0.5rem;
  color: var(--main-bg-color);
  font-size: 1.15rem;
  font-weight: 600;
  padding: 1rem 0.75rem;
  transition: opacity 0.5s ease-in-out;
}

.main-button:hover {
  background-color: var(--main-text-color);
  border-color: var(--main-text-color);
  border-radius: 0.5rem;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 1rem 0.75rem;
  opacity: 0.8;
}

.main-button:active {
  background-color: var(--main-text-color) !important;
  border-color: transparent !important;
  border-radius: 0.5rem;
  color: var(--main-bg-color);
  font-size: 1.15rem;
  font-weight: 600;
  padding: 1rem 0.75rem;
}

@media (max-width: 992px) {
  .img-container img {
    display: block;
    margin: 0px auto;
    height: 100%;
    border-style: none;
  }
}
